/* body {
  height: 100vh;
  background: linear-gradient(180deg, rgba(4,28,11,1) 0%, rgba(12,10,9,1) 49%);
} */

#root {
  margin: 0;
  padding: 0;
  display: grid;
}

#navbar {
  display: grid;
  justify-self: center;
  grid-auto-flow: column;
  width: 90%;
  height: 60px;
  align-items: center;
}

#navbar>#menu {
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
  column-gap: 10px;
  margin-right: 10px;
}

#logo {
  display: grid;
  grid-auto-flow: column;
  justify-self: start;
  margin-left: 15px;
}

#main{
  display: grid;
  width: 85vw;
  max-width: 800px;
  margin-top: 100px;
  justify-self: center;
}

#new-note-button {
  justify-self: center;
}

.textarea {
  height: 200px;
}

#profile-button {
  border-radius: 30px;
  padding: 0px 12px;
}

#notes {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: 1fr;
}

#hello {
  display: grid;
  text-align: center;
  margin-top: 200px;
  row-gap: 50px;
}
